In [1]:
lista = ["Hola", 10,"Adiós", [50,100, 150]]

In [2]:
lista[-1]

[50, 100, 150]

In [3]:
lista [-1][-1]

150

In [10]:
for numero in lista[-1]:
    print(numero)

50
100
150

In [11]:
#Cuando una lista se encuentra entre colecciones iterables, por ejemplo listas,
#Cadenas o tuplas o diccionarios --->podemos recorrer dinamicamente los sub elementos 
# mediante Anidación de dos bucles for

In [12]:
lista = [
    "Esto es un texto",           #Cadena 
    (1, 5, 10, 15, 20, 25),       #Tupla 
    ["Azul", "Verde", "Amarillo"] #lista 
]

In [13]:
for coleccion in lista: 
    print(coleccion)

Esto es un texto
(1, 5, 10, 15, 20, 25)
['Azul', 'Verde', 'Amarillo']

In [14]:
for coleccion in lista: 
    for elemento in coleccion: 
        print(coleccion, "-->",elemento)

Esto es un texto --> E
Esto es un texto --> s
Esto es un texto --> t
Esto es un texto --> o
Esto es un texto -->
Esto es un texto --> e
Esto es un texto --> s
Esto es un texto -->
Esto es un texto --> u
Esto es un texto --> n
Esto es un texto -->
Esto es un texto --> t
Esto es un texto --> e
Esto es un texto --> x
Esto es un texto --> t
Esto es un texto --> o
(1, 5, 10, 15, 20, 25) --> 1
(1, 5, 10, 15, 20, 25) --> 5
(1, 5, 10, 15, 20, 25) --> 10
(1, 5, 10, 15, 20, 25) --> 15
(1, 5, 10, 15, 20, 25) --> 20
(1, 5, 10, 15, 20, 25) --> 25
['Azul', 'Verde', 'Amarillo'] --> Azul
['Azul', 'Verde', 'Amarillo'] --> Verde
['Azul', 'Verde', 'Amarillo'] --> Amarillo

In [18]:
for indice_coleccion, coleccion in enumerate(lista): 
    for indice_elemento, elemento in enumerate(coleccion): 
        print(coleccion, "-->",elemento)

Esto es un texto --> E
Esto es un texto --> s
Esto es un texto --> t
Esto es un texto --> o
Esto es un texto -->
Esto es un texto --> e
Esto es un texto --> s
Esto es un texto -->
Esto es un texto --> u
Esto es un texto --> n
Esto es un texto -->
Esto es un texto --> t
Esto es un texto --> e
Esto es un texto --> x
Esto es un texto --> t
Esto es un texto --> o
(1, 5, 10, 15, 20, 25) --> 1
(1, 5, 10, 15, 20, 25) --> 5
(1, 5, 10, 15, 20, 25) --> 10
(1, 5, 10, 15, 20, 25) --> 15
(1, 5, 10, 15, 20, 25) --> 20
(1, 5, 10, 15, 20, 25) --> 25
['Azul', 'Verde', 'Amarillo'] --> Azul
['Azul', 'Verde', 'Amarillo'] --> Verde
['Azul', 'Verde', 'Amarillo'] --> Amarillo

In [20]:
for indice_coleccion, coleccion in enumerate(lista): 
    for indice_elemento, elemento in enumerate(coleccion): 
        print(lista[indice_coleccion][indice_elemento])

E
s
t
o

e
s

u
n

t
e
x
t
o
1
5
10
15
20
25
Azul
Verde
Amarillo

In [21]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]
for fila in tabla: 
    print(fila)

[0, 0, 0]
[1, 1, 1]
[2, 2, 2]

In [26]:
for fila in tabla:
    for columna in fila: 
            print(columna, end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [27]:
for i, fila in enumerate(tabla): 
    for j, columna in enumerate(fila): 
        print(tabla[i][j], end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [28]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]
cubo = [
    tabla, tabla, tabla
]

In [30]:
print(cubo[0][0][0])

0

In [31]:
print(cubo[2][1][2])

1

In [32]:
for tabla in cubo: 
    for fila in tabla:
        for columna in fila: 
            print(columna)

0
0
0
1
1
1
2
2
2
0
0
0
1
1
1
2
2
2
0
0
0
1
1
1
2
2
2

In [36]:
for k, tabla in enumerate(cubo): 
    for i,fila in enumerate (tabla):
        for j, columna in enumerate(fila): 
            print(cubo[k][i][j], end=" ") 
        print()
    print()

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2

In [71]:
#Ejercicio 1 

matriz = [
    [8, 7, 0],
    [34, 2, -1],
    [5, -5, 12],
]
#print (matriz[0][0])
#print (type(matriz[0][0]))

#if (matriz[0][0])==8:
 #   print("Yes")

for i, fila in enumerate(matriz): 
    for j, columna in enumerate(fila): 
        if matriz[i][j] % 2 == 0:
            matriz [i][j] = 0 
        else:
            matriz [i][j]= 1
print(matriz)

[[0, 1, 0], [0, 0, 1], [1, 1, 0]]